@font-face {
  font-family: 'spring';
  src: url(../font/Argent-CF/Fontspring-DEMO-argentcf-light.otf);
}

:root {
--primary-color: #ffffff;
--blue-color: #005AAA;

--font-spring:spring;

--font-weight-300: 300;
--font-weight-400: 400;
--font-weight-500: 500;
--font-weight-600: 600;
--font-weight-700: 700;

--font-size-14: 14px;
--font-size-16: 16px;
--font-size-18: 18px;
--font-size-20: 20px;
--font-size-24: 24px;
--font-size-30: 30px;
--font-size-36: 36px;
--font-size-40: 40px;
--font-size-60: 60px;
--line-height: 1.4em;

}

* {
  margin: 0;
  padding: 0;
  position: relative;
}

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100;
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight-400);
  position: relative;
}
h1,h2,h3,h4,h5,h6,p,ul,li,a,div,span{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
overflow-x: hidden;
}

.overlay {
position: absolute;
width: 100%;
height: 100%;
background: #000000;
opacity: 0;
transition: .6s ease-in ;
transform: scaleY(0);
transform-origin: top;

}
.overlay.active {
opacity: .6;
z-index: 99;
transform: scaleY(1);
transition: .6s ease-in;
}
.section-padding {
  height: 100%;
  width: 100%;
  
  
  
}


.scroll-down .header {
  transform: translate3d(0, -100%, 0);
}


.scroll-up .header .main-menu {
  margin-top: 30px !important;
}

.scroll-up .header {
  background: #005AAA;
  max-width: 100%;
}

.scroll-up .header-btn {
  border-color: #FFFFFF;
}

.container {
  position: relative !important;
  
  
}




.header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 999;
  position: fixed;
  transition: .5s;

}

.header-section-pc  {
display: flex;
justify-content: space-between;
padding: 20px 0;
}

.header-section-pc .left-header .logo img {
width: 140px;
}

.header-section-pc .header-rihgt .menu li {
display: inline-block;
padding: 0 25px;
}
.header-section-pc .header-rihgt .menu li a:hover {
color: #F7CE19;
}


.header-section-pc .header-rihgt .menu li a {
display: inline-block;
color: var(--primary-color);
font-weight: var(--font-weight-600);
font-size: var(--font-size-18);
text-decoration: none;
transition: .3s;


}


.header-section-pc .header-rihgt .menu .menu-btn {
  color: rgb(255, 255, 255);
  padding: 6px 20px;
  border-radius: 5px;
  position: relative;
  border: 1px solid #F7CE19;
  transition: all .3s ease;

}
.header-section-pc .header-rihgt .menu .menu-btn:first-child:hover {
  background: #F7CE19;
  color: #000000;
  
}
.header-section-pc .header-rihgt .menu .menu-btn:last-child {
background: white;
margin-left: 15px;
border-color: white;
}
.header-section-pc .header-rihgt .menu .menu-btn:last-child:hover {
color: black;
}

.header-section-pc .header-rihgt .menu .menu-btn:last-child img {

width: 25px;

}
.header-section-pc .header-rihgt .menu .menu-btn:last-child i {
padding-left: 10px;
}

.header-section-pc .header-rihgt .menu li a.menu-btn span {
position: absolute;
top: 35px;
left: 0;
display: flex;
align-items: center;
width: 100%;
height: 45px;
background: white;
text-align: left;
border-radius: 3px;
padding-left: 10px;
color: rgb(0, 0, 0);
visibility: hidden;
transition: all .5s ease;
opacity: 0;

}
.header-section-pc .header-rihgt .menu li a.menu-btn span img {
padding-right: 10px;
width: 40px !important;
}

.header-section-pc .header-rihgt .menu li a.menu-btn:nth-child(2):hover span {
visibility: visible;  
opacity: 1;
top: 50px;
}


.header-section-mobile .mobile-header {
display: flex;
justify-content: space-between;
padding: 20px 0;
align-items: center;
width: 100%;

}
.header-section-mobile .mobile-header .header-left img {
width: 140px;
}
.header-section-mobile .mobile-header .header-right .bars {
margin-right: 40px;
display: flex;
flex-direction: column;
gap: 6px;
}

.header-section-mobile .mobile-header .header-right .bars span {
width: 40px;
height: 4px;
background: white;
display: block;
border-radius: 1px;

}
.header-section-mobile .mobile-header .header-right .bars span:nth-child(2) {
width: 30px;
transition: .3s;
}

.header-section-mobile .mobile-header .header-right .bars span:nth-child(3) {
width: 25px;
transition: .5s;

}
.header-section-mobile .mobile-header .header-right .bars span:nth-child(1) {
transition: .5s;

}
.header-section-mobile .mobile-header .header-right .bars.active {
gap: 7px;

}

.header-section-mobile .mobile-header .header-right .bars.active span:nth-child(3) {
width: 35px;
transform: rotate(133deg) translate(-11px, 11px);

}
.header-section-mobile .mobile-header .header-right .bars.active span:nth-child(2) {
opacity: 0;
margin-left: -20px;
transition-delay: .0s;

}
.header-section-mobile .mobile-header .header-right .bars.active span:nth-child(1) {
width: 35px;
transform: rotate(45deg) translate(5px, 6px);

}

.off-canves-menu {
position: absolute;
background: white;
z-index: 100;
left: -550px;
padding: 15px 20px;
height: 100vh;
width: 360px;
padding-left: 80px;
transition: .5s ease-out ;
}
.header-section-mobile.active .off-canves-menu {

left: 0px;
z-index: 999;
transition: .5s ease-out ;
}
.off-canves-menu .logo img {
width: 140px;
}

.off-canves-menu .menu li {
display: block;
padding: 8px 0;

}

.off-canves-menu .menu li a {
color: #000000;
text-decoration: none;
font-size: var(--font-size-18);
font-weight: var(--font-weight-400);
transition: .2s;

}
.off-canves-menu .menu li a:hover {
color: #F7CE19;
}
.off-canves-menu .menu li a.menu-btn {
background-color: #000000;
display: block;
text-align: center;
margin-bottom: 10px;
padding: 4px;
border-radius: 5px;
background: #F7CE19;
text-decoration: none;
font-size: var(--font-size-16);
color: #000000;
border: 1px solid #F7CE19;
transition: .3s;
}

.off-canves-menu .menu li a.menu-btn:nth-child(1):hover {
background: none;
color: #F7CE19;
}
.off-canves-menu .menu li a.menu-btn:nth-child(2) {
background-color: #314454;
color: white;
border-color: #314454;
position: relative;
}

.off-canves-menu .menu li a.menu-btn span {
position: absolute;
top: 35px;
display: flex;
align-items: center;
left: 0;
width: 100%;
height: 35px;
border: 1px solid rgb(201, 194, 194);
text-align: left;
border-radius: 3px;
padding-left: 10px;
color: rgb(0, 0, 0);
visibility: hidden;
transition: all .5s ease;
opacity: 0;

}
.off-canves-menu .menu li a.menu-btn span img {
padding-right: 10px;
}

.off-canves-menu .menu li a.menu-btn:nth-child(2):hover span {
visibility: visible;  
opacity: 1;
top: 40px;
}

.header-section-pc .header-rihgt .menu .menu-btn:last-child {
  display: none;
}


.section {
display: flex;
justify-content: center;
align-items: center;
}





.hero-section {
  
  height: 800px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.bg  {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
.bg img {
  object-fit: cover;
  object-position: left;
  height: 100%;
  width: 100%;
  z-index: -2;
  }


  
  
.hero-section .image {
  position: absolute;
  bottom: -6%;
  left: 2%;
}

.hero-section .bg::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #EAC319, #000101B2 70%);
  opacity: .4;
  z-index: -1;

}
.hero-section .container {
  height: 100%;
  width: 100%;
  position: relative;
  
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  font-size: var(--font-size-20);
  line-height: 33px;
}
.hero-content img {
  width: 110px;
}

.hero-content h1  {
  font-family: "Kaushan Script", cursive;
  font-weight: var(--font-weight-400);
  font-size: 80px;
  color: #ffffff;
  
}

.hero-content h1 span {
  color: #F7CE19;
}

.hero-content .heading {
  position: relative;
  margin-bottom: 16px;
}

.hero-content .heading img {
  position: absolute;
  right: 75px;
  width: 93px;
  bottom: -25px;

}
.hero-content h3 {
  font-family: spring;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-600);
  line-height: 43px;
  letter-spacing: 1px;
  
}

.hero-content p {
  max-width: 510px;
  margin-top: 10px;
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-400);
  line-height: 33px;
  color: #ffffff;
}

.wrapper-1 {
  padding: 80px 0;

  display: flex;
  justify-content: center;
}
.wrapper-1 .item-container {
  
  gap: 25px;

}



.wrapper-1 .image {
  overflow: hidden;
  border-radius: 20px;
  border: none;
  width: 800px;
  height: 537px;
}

.wrapper-1 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.wrapper-1 .content {
  width: 550px;
}

.wrapper-1 .content h1{
  font-size: var(--font-size-60);
  font-family: spring;
  color: #005AAA;
  max-width: 400px;
  
  
}



.wrapper-1 .content p {
font-size: var(--font-size-18);
font-weight: var(--font-weight-400);
line-height: 28px;
margin-top: 20px;
color: #1E1E1E;


}

.wrapper-1 .content p span {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-500);
  line-height: 33px;
  margin-bottom: 10px;
  display: block;
  color: #1E1E1E;
  text-transform: capitalize;
}


a.btn {
  display: inline-block;
  padding: 15px 32px;
  background: #005AAA;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border-radius: 5px;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);
  margin-top: 32px;
  margin-bottom: 20px;
  position: relative;
  border: none;
  z-index: 1;
  overflow: hidden;
  transition: all .5s ease;

}
a.btn:hover {
  color: #000000;
  background: #F7CE19;
}


.wrapper-2 {
  background-image: url(../img/bg.jpg);
  height: 750px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 80px 0;
  z-index: 1;
  align-items: center;
}
.wrapper-2::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, #000000e9, #00000000 80%);
  z-index: -1;
}

.wrapper-2 .title h1 {
  color: var(--primary-color);
  font-family: spring;
  font-size: var(--font-size-60);
  margin-bottom: 80px;
}

.wrapper-2 .tab-container {
  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.wrapper-2 .tab-container .tab-btn {
  width: 300px;
  padding-right: 55px;
  border-right: 1px solid #F7CE19;
  overflow: hidden;
}

.wrapper-2 .tab-container .tab-btn .nav-link {
  max-width: 272px;
  max-height: 83px;
  background: #00000080;
  border: 1px solid #141414;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 40px;
  line-height: 65px;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-500);
  color: #ffffff;
}
.wrapper-2 .tab-container .tab-btn .nav-link.active {
  border-color: #F7CE19;
  background: #292929;
  position: relative;
  color: #F7CE19;
  
}

.wrapper-2 .tab-container .tab-btn .nav-link.active::before {
  position: absolute;
  content: '';
  width: 70px;
  height: 1px;
  top: 50%;
  right: -70px;
  background: #F7CE19;
}

.wrapper-2 .slider {
  width: 1050px;
  position: relative;
  padding-bottom: 64px;
}


.wrapper-2 .slider-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-item .content {
  color: var(--primary-color);
  max-width: 478px;
}
.wrapper-2 .slider-item .content h1 {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-36);
  margin-bottom: 20px;

}
.wrapper-2 .slider-item .content p {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-20);
  line-height: var(--line-height);
}
.wrapper-2 .slider-item .image {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #F6CD19;
  width: 500px;
  
}

.wrapper-2 .slider-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  
}

.wrapper-2 .slider .owl-dots {
  position: absolute;
  bottom: 0;
  left: 25px;
}

.wrapper-2 .slider .owl-dots button {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid #DFB91A;
}

.wrapper-2 .slider .owl-dots button.active {
  background: #DFB91A;
}


.wrapper-3 {
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.wrapper-3 .title h1 {
  font-size: var(--font-size-60);
  font-family: spring;
  color: var(--blue-color);
}

.wrapper-3 .content p {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-18);
  line-height: var(--line-height);
}

 .counters {
  margin-top: 60px;
  margin-bottom: 40px;
}

.counters .number {
  font-size: 40px;
  font-weight: 600;
  color: var(--blue-color);
  font-family: "Lexend", sans-serif;
}

.counters .label {
  font-size: 16px;
  font-weight: 600;
}
.counters span {
  border-color: #F7CE19 !important;
  opacity: .3;
}









.wrapper-3 .content a.btn {
display: inline-block;
padding: 15px 32px;
color: rgb(255, 255, 255);
}
.wrapper-3 .content a.btn:hover {

  color: #000000;
}

.wrapper-3 .content a.btn::before {
background: #005AAA;

}

.wrapper-4 {
background-image: url(../img/bg2.png);
background-size: cover;
background-position: center;
overflow: hidden;
background-repeat: no-repeat;
display: flex;
justify-content: center;
position: relative;
padding-top: 80px;
padding-bottom: 40px;
z-index: 1;

}

.wrapper-4::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, #000000cc, #0404041A 80%);
  z-index: -1;
}

.wrapper-4 .content {
  max-width: 470px;
  color: var(--primary-color);
}

.wrapper-4  h1 {
  font-family: spring;
  font-size: var(--font-size-60);
  margin-bottom: 80px;
  color: var(--primary-color);
  width: 300px;
}
.wrapper-4 .content h2 {
  font-size: var(--font-size-36);
  line-height: var(--line-height);
  font-weight: var(--font-weight-700);
  margin-bottom: 10px;
}

.wrapper-4 .content p { 
  font-size: var(--font-size-20);
  line-height: var(--line-height);
  font-weight: var(--font-weight-400);
}

.wrapper-4 .image img {
  max-width: 450px;
}

.wrapper-4 .container .vector-img {
  position: absolute;
  top: 50%;
  left: 50%;

}
.wrapper-4 .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.wrapper-4 .owl-dots .owl-dot {
  width: 27px;
  height: 27px;
  background: var(--blue-color);
  border-radius: 50%;


}
.wrapper-4 .owl-dots .owl-dot.active {
  border: 4px solid #F7CE19;
  background: #1775c7;
}


.storiec-slider {
  padding: 100px 0;
}
.storiec-slider h2 {
  font-size: 60px;
  font-family: var(--font-spring);
  color: var(--blue-color);
}
.storiec-slider .slider {
  padding-top: 80px;
  position: relative;
}

.storiec-slider .slider .single-slider-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.storiec-slider .content {
  width: 700px;
}
.storiec-slider .content p {
  margin-left: 60px;
  font-size: 24px;
  font-family: var(--font-spring);
  font-style: italic;
  font-weight: 300;
}

.storiec-slider .slider .single-slider-item .content img {
  width: 68px;
  margin-bottom: 10px;
  margin-left: 5px;
}



.storiec-slider .image {
  width: 540px;
  height: 475px;
  border-radius: 20px;
  overflow: hidden;
} 
.storiec-slider .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.storiec-slider .slider .owl-dots {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 60px;
  bottom: 40px;
  
}
.storiec-slider .slider .owl-dots .owl-dot {
  width: 27px;
  height: 27px;
  background: var(--blue-color);
  border-radius: 50%;
}

.storiec-slider .slider .owl-dots .owl-dot.active {
  border: 4px solid #F7CE19;
  background: #005AAAAB;
}




.wrapper-5 {
  display: flex;
  justify-content: center;
  height: 550px;
}

.wrapper-5 .content-container {
  width: 50%;
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
  padding-right: 35px;

  
}

  .wrapper-5 .content {
  max-width: 80%;
  }

.wrapper-5 .content h1 {
  font-size: 52px;
  font-family: spring;
  color: var(--blue-color);
  margin-bottom: 20px;
}
.wrapper-5 .content p {
  max-width: 600px;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height);
  text-transform: capitalize;
}

.wrapper-5 .image {
  width: 50%;
  position: relative;
  background-image: url(../img/image4.jpg);
  background-position: center;
  background-size: cover;
}
.wrapper-5 .image::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, #f7ce19cd, #00000000 60%);

}

.wrapper-5 .image img {
  width: 100%;
}

.wrapper-5 a.btn {

  background: #F7CE19;
  color: rgb(0, 0, 0);
}
.wrapper-5 a.btn:hover {
  color: white;
  background: var(--blue-color);
}
.wrapper-5 a.btn::before {

  background: #005AAA;
}



.wrapper-6 {
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 80px 0;
  z-index: 1;

  }

.wrapper-6::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, #000000cc, #0404041A 80%);
  z-index: -1;
}

.wrapper-6 h1 {
  font-size: var(--font-size-60);
  font-family: spring;
  color: white;
  margin-bottom: 50px;
  text-transform: capitalize;
  
}

.wrapper-6 .single-slider-item {
  max-width: 445px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

}

.wrapper-6 .single-slider-item img {
  width: 100%;
  height: 255px;
  object-fit: cover;
  object-position: top center;
  border-bottom: 10px solid #F7CE19;
}

.wrapper-6 .single-slider-item .content {
  background: white;
  text-align: center;
  padding: 20px 10px;

}

.wrapper-6 .single-slider-item .content h4 {
  color: var(--blue-color);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);
  margin-bottom: 10px;
}

.wrapper-6 .single-slider-item .content h2 {
  color: var(--blue-color);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-700);
  font-family: spring;
  color: #314454;
  line-height: 26px;
}

.wrapper-6 .single-slider-item span {
  position: absolute;
  top: 20px;
  right: 26px;
  display: inline-block;
  padding: 8px 15px;
  background: #005AAA;
  border-radius: 5px;
  color: white;
}
.wrapper-6 .owl-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
.wrapper-6 .owl-dots button {
  width: 20px;
  height: 20px;
  background: var(--blue-color);
  border-radius: 50%;

}
.wrapper-6 .owl-dots button.active {
  border: 1px solid #F7CE19;
}

.wrapper-6 .owl-nav {
  display: flex;
  gap: 15px;
  position: absolute;
  top: -100px;
  right: 0;
} 

.wrapper-6 .owl-nav button.owl-prev,
.wrapper-6 .owl-nav button.owl-next {
  display: block;
  background: #c9c7c7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  color: #000000;
  transition: .3s;
}

.wrapper-6 .owl-nav button.owl-prev:hover,
.wrapper-6 .owl-nav button.owl-next:hover {
  background: #e8e5e5;
} 


.wrapper-7 {
  display: flex;
  justify-content: center;
  background: #314453;
}

.wrapper-7 .footer {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;


}
.wrapper-7 .footer h2 {
  font-size: var(--font-size-30);
  font-weight: var(--font-weight-400);
  color: white;
  font-family: spring;

  }
.wrapper-7 .footer .company-details .logo img {
  width: 200px;
  margin-bottom: 30px;
} 
.wrapper-7 .footer .company-details input[type="email"] {
  width: 360px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  font: var(--font-size-16);
  padding-left: 25px;

} 
  .wrapper-7 .footer .company-details form {
    margin-top: 20px;
  }

.wrapper-7 .footer .company-details input[type="submit"] {
  width: 120px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #F7CE19;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);

}
.wrapper-7 .footer .quick-link h2 {
  margin-bottom: 30px;
}

  .wrapper-7 .footer .quick-link li a {
  color: white;
  padding-bottom: 15px;
  display: block;
  text-decoration: none;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);

  }

  .wrapper-7 .footer .quick-link li a:hover {
  color: #F7CE19;
  }

.wrapper-7 .footer .contact h2 {
    margin-bottom: 30px;
}

.wrapper-7 .footer .contact .social-icon {
    display: flex;
    gap: 10px;
}
.wrapper-7 .footer .contact .social-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  color: white;
  text-decoration: none;
  font-size: 22px;
  transition: .3s;
} 

.wrapper-7 .footer .contact .social-icon a:hover {
  color:  rgb(255, 251, 251);
  background: #f7ce19;
}
.copyright-area {
border-top: 1px solid #D2999933;
background: #314453;
}


.copyright-area h4 {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-300);
    color: white;
    text-align: center;
    padding: 20px 0;
}
.copyright-area a {
    color: #F7CE19;
    text-decoration: underline;
  }

  .wrapper-8 {
    padding: 80px 0;
  }


.wrapper-8 .content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-8 .content-container h1 {
  font-size: var(--font-size-60);
  font-family: var(--font-spring);
  margin-bottom: 20px;
  color: var(--blue-color);
}

  .wrapper-8 .content-container p {
  font-size: var(--font-size-24);
  text-align: center;
  text-transform: capitalize;
  padding: 20px;
  }

.wrapper-8 .content-container .btns {
  display: flex;
  gap: 30px;
}

.wrapper-8 .gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  gap: 30px;

}

.wrapper-8 .gallery .gallery-item {
  width: 660px;
  border-radius: 20px;
  overflow: hidden;
}

.wrapper-8 .gallery .gallery-item img {
  width: 100%;
  height: auto;
  transition: .8s ease;

}
.wrapper-8 .gallery .gallery-item:hover img {
  transform: scale(1.1);
}
.wrapper-8 a.btn:hover {
color: #000000;
}

.wrapper-8 a.btn:first-child {
background: #F7CE19;
color: #000000;
}

.wrapper-8 a.btn:first-child:hover {
  background: var(--blue-color);
  color: white;

}



.wrapper-9 {
  padding-top: 40px;
  padding-bottom: 130px;
}

.wrapper-9 .headline {
  width: 580px;
}

.wrapper-9 .headline p {
  font-size: 18px;
  margin-top: 15px;
}



.wrapper-9 .headline h1 {
  font-family: var(--font-spring);
  color: var(--blue-color);
  font-size: var(--font-size-60);
}
.wrapper-9 .slider {
  margin-top: 70px;
  position: relative;
  padding-bottom: 60px;
}


.wrapper-9 .slider .image {
  width: 100%;
  height: 470px;
  overflow: hidden;
  background: #5c4747;
  border-radius: 20px;
  border: none;
} 

.wrapper-9 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.wrapper-9 .single-slider-item .content {
  padding-top: 35px;
}
 
.wrapper-9 .single-slider-item .content h4 {
  text-align: center;
  font-size: var(--font-size-30);
  font-family: var(--font-spring);
  font-weight: 700;
}
.wrapper-9 .single-slider-item .content h4 span {
  display: block;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

.wrapper-9 .slider .owl-nav {
  position: absolute;
  right: 0;
  top: -90px;
  display: flex;
  gap: 15px;
}
.wrapper-9 .slider .owl-nav button {
  background: var(--blue-color);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  font-size: 40px;
  line-height: 0;
  font-weight: 200;
  color: white;

}

.wrapper-9 .slider .owl-nav button:focus,
.wrapper-9 .slider .owl-dots button:focus {
  outline: none;
}

.wrapper-9 .slider .owl-dots{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;

}
.wrapper-9 .slider .owl-dots .owl-dot {
  width: 27px;
  height: 27px;
  background: var(--blue-color);
  border-radius: 50px;


}
.wrapper-9 .slider .owl-dots .owl-dot.active {
  border: 3px solid #F7CE19;
}

.wrapper-9 .popup-message {
  width: 100%;
  margin: auto;

}

.wrapper-9 .popup-message .popup-image {
  width: 500px;
  height: 700px;
}
.wrapper-9 .popup-message .popup-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper-9 .popup-message .popup-content {
  width: 700px;
  background: #002F59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 120px;
  color: white;
  position: relative;
}
.wrapper-9 .popup-message .popup-content h4 {
  font-size: 40px;
  font-family: var(--font-spring);
  font-weight: 900;
}
.wrapper-9 .popup-message .popup-content h4 span {
  display: block;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 25px;

}
.wrapper-9 .popup-message .popup-content p {
  font-size: 16px;
  line-height: 30px;

}
.wrapper-9 .modal-dialog {
  max-width: 1200px;
  
}
.wrapper-9 .modal-dialog .modal-content {
  padding: 0;
  margin: 0;
}
.wrapper-9 .popup-message .popup-content .modal-header {
  border-bottom: none;
  position: absolute;
  right: 80px;
  top: 60px;



}
.wrapper-9 .popup-message .popup-content .modal-header .btn-close {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 50%;
  opacity: 1;
}

.wrapper-10 {
  height: 850px;
  padding: 100px 0;
}

.wrapper-10  .bg img {
  object-position: center;
  object-fit: cover;
}



.wrapper-10  .bg::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#00000000 0%, #000000 );
  z-index: -1;
  opacity: .9;

}

.wrapper-10 h1 {
  color: var(--primary-color);
  font-size: var(--font-size-60);
  font-family: var(--font-spring);
  margin-bottom: 180px;
}


.wrapper-10 .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: var(--primary-color);

}

.wrapper-10 .content-container .content-item {
display: flex;
gap: 30px;
align-items: center;
}

.wrapper-10 .content-container .content-item .image img {
  width: 65px;
}

.wrapper-10 .content-container .content-item h3 {
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-700);
  line-height: 75px;

}


.wrapper-10 .content-container .content-item p {
font-size: var(--font-size-20);
font-weight: var(--font-weight-500);
}
.wrapper-11 {
  padding: 90px 0;
}

.wrapper-11 .content-container {
  display: flex;
  justify-content: space-between;
  
}

.wrapper-11 .content-container h1 {
  font-size: var(--font-size-60);
  color: var(--blue-color);
  font-family: var(--font-spring);
}

.wrapper-11 .content-container p {
font-size: var(--font-size-18);
}



.wrapper-11 .items-container {
display: flex;
justify-content: space-between
;
align-items: center;
padding-top: 80px;
flex-wrap: wrap;


}
.wrapper-11 .items-container .item-separator {
  background: #F7CE19;
  width: 1px;
  height: 100px;

}
.wrapper-11 .right-side {
  width: 584px;
}

.wrapper-11 .items-container .item {
text-align: center;
position: relative;
font-size: var(--font-size-24);
font-weight: var(--font-weight-500);
margin-bottom: 50px;
width: 245px;

}
.wrapper-11 .items-container .item p {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.wrapper-11 .items-container .item img {
  margin-bottom: 15px;
}

.wrapper-12 {
  background: var(--blue-color);
  padding: 20px 0;

}

.wrapper-12 h1 {

  font-size: 45px;
  font-weight: 300;
  font-family: var(--font-spring);
  color: white;

}

.wrapper-12 a.btn {
background: #F7CE19;
color: #000000;
border-color: #F7CE19;

}



.title {

font-family: var(--font-spring);
font-size: var(--font-size-60);
color: var(--blue-color);
}
.wrapper-14 {
padding: 88px 0;
}

.wrapper-14 h1.title {
text-align: center;
}

.wrapper-14 p {
text-align: center;
padding: 0 60px;
margin-top: 20px;
  font-size: var(--font-size-24);
}

.wrapper-14 .our-programmes {
display: flex;
justify-content: space-between;
gap: 30px;
margin-top: 80px;
}



.wrapper-14 .our-programmes .item {
position: relative;
display: flex;
justify-content: start;
align-items: center;



}



.wrapper-14 .our-programmes .item .image {
max-width: 610px;
border-radius: 20px;
overflow: hidden;
position: relative;


}

.wrapper-14 .our-programmes .item .image::before {
position: absolute;
content: '';
width: 100%;
height: 100%;
background: #00000027;
z-index: 1;

}
.wrapper-14 .our-programmes .item .image img{
width: 100%;
height: 100%;
}

.wrapper-14 .our-programmes .item h2 {
color: var(--primary-color);
margin-left: 55px;
position: absolute;
z-index: 9;


}

.wrapper-15 {

padding: 150px 0;
}
.wrapper-15 .content p {
font-size: var(--font-size-40);
font-family: var(--font-spring);
text-transform: capitalize;
color: #1E1E1E;
margin-top: 15px;

}


.wrapper-16 .bg img {
  object-position: center;
  object-fit: cover;
}



.wrapper-16  .bg::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#0000008f 0%, #000000 );
  z-index: -1;
  opacity: .9;

}


.wrapper-16 .section-padding {
padding-top: 120px;
padding-bottom: 150px;
}
.wrapper-16 .content-container {
display: flex;
justify-content: space-between;
gap: 240px;
}


.wrapper-16 .content-container .left-side {
font-family: var(--font-spring);
color: white;
text-transform: capitalize;
}
.wrapper-16 .content-container .left-side h2 {
  font-size: 60px;
  font-weight: 300;
}

.wrapper-16 .content-container .right-side {
color: white;
margin-top: 80px;

}

.wrapper-16 .content-container .right-side h3 {
margin-bottom: 15px;
font-size: var(--font-size-36);
font-weight: var(--font-weight-700);
}
.wrapper-16 .content-container .right-side p {
font-size: var(--font-size-24);
font-weight: var(--font-weight-500);
margin-bottom: 30px;
}

.wrapper-16 .content-container .right-side .col-md-6 p {
color: #F7CE19;
font-weight: var(--font-weight-500);
}


.wrapper-17 {
padding: 100px 0;
}

.wrapper-17 h1 {
font-size: var(--font-size-60);
font-family: var(--font-spring);
color: var(--blue-color);
margin-bottom: 90px;
font-weight: var(--font-weight-300);
}

.wrapper-17 .image {
max-width: 680px;
overflow: hidden;
}

.wrapper-17 .image img {
width: 100%;
height: auto;
border-radius: 20px;
border: none;
}

.wrapper-17 .content h3 {
font-size: 32px;
font-weight: var(--font-weight-700);
margin-bottom: 20px;
} 


.wrapper-17 .content p {
font-size: 18px;
font-weight: var(--font-weight-400);
line-height: 32px;
}


.wrapper-17 .row {
margin-bottom: 50px;
align-items: center;
}

.wrapper-17 .content2 {
padding-left: 70px;
}


.wrapper-18 .bg img {
  object-position: center;
  object-fit: cover;
}

.wrapper-18  .bg::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #2e2e2ee5;
  z-index: -1;
  opacity: .9;
}
.wrapper-18 {
color: rgba(255, 255, 255, 0.777);
  padding: 90px 0;
}

.wrapper-18 .title h1 {
color: white; 
font-size: 60px;
font-weight: 300;
}

.wrapper-18 .counters .number {
  color: white;
}

.wrapper-18 .counters span {
  opacity: 1;
}

.wrapper-18 .counters .stat {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}







.wrapper-19 {
padding: 170px 0;
}

.wrapper-19 .slider-item {
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;

}

.wrapper-19 .slider-item .image {
max-width: 635px;
height: 490px;
overflow: hidden;
}

.wrapper-19 .slider-item .image img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 20px;
border: none;
}


.wrapper-19 .slider-item .content {
color: #000000;
line-height: 45px;
font-size: 25px;
font-family: var(--font-spring);
font-weight: 300;
font-style: italic;
max-width: 670px;
position: relative;
text-transform: capitalize;
}

.wrapper-19 .slider-item .content p {
padding-left: 40px;
}

.wrapper-19 .slider-item .content img {

width: 60px;
}

.wrapper-19 .slider .owl-dots {
position: absolute;
bottom: -60px;
left: 50%;
transform: translateX(-50%);
}

.wrapper-19 .slider .owl-dots button {
display: inline-block;
width: 20px;
height: 20px;
margin-right: 10px;
border-radius: 50%;
background: #005AAA;
border: 4px solid #005AAA;

}

.wrapper-19 .slider .owl-dots .active {
background: #005AAAAB;
border-color: #F7CE19;


}

.wrapper-20 {
padding: 100px 0;
}


.wrapper-20 h1 {
font-size: var(--font-size-60);
font-family: var(--font-spring);
color: var(--blue-color);
margin-bottom: 50px;
}

.wrapper-20 .item {
max-width: 600px;
height: 620px;
border-radius: 20px;
padding: 0 50px;
padding-top: 160px;
position: relative;
z-index: 1;
overflow: hidden;


}
.wrapper-20 .item-bg1 {
background-image: url(../img/image7.jpg);
background-size: cover;
background-position: center;
z-index: -1;

}

.wrapper-20 .item-bg2 {
background-image: url(../img/image9.jpg);
background-size: cover;
background-position: center;

z-index: -1;
}

.wrapper-20 .item::before {
position: absolute;
content: '';
width: 100%;
height: 100%;
background-image: linear-gradient(#00000000 20%, #000000 );
z-index: -1;
left: 0;
top: 0;
}
.wrapper-20 .item .content h2 {
color: #FFFFFF;
font-size: var(--font-size-36);
font-weight: var(--font-weight-700);
margin-bottom: 15px;
}


.wrapper-20 .item .content p {
color: #FFFFFF;
font-size: var(--font-size-18);
font-weight: var(--font-weight-300);
line-height: 30px;
}


.wrapper-18 .rank-container {
justify-content: start;
}

.wrapper-18 .rank-container .item {
padding: 0 40px;
}

.wrapper-18 .rank-container .item::before {
background: none;
}

.wrapper-21 {
padding: 100px 0;
}
.wrapper-21 .featured-story-left h1 {
font-size: var(--font-size-60);
font-family: var(--font-spring);
color: var(--blue-color);
margin-bottom: 70px;
}
.wrapper-21 .featured-story-left h5 {
font-size: var(--font-size-16);
font-weight: var(--font-weight-400);
color: #005AAA;
margin-bottom: 20px;
}

.wrapper-21 .featured-story-left h3 {
font-size: 32px;
font-weight: 300;
font-family: var(--font-spring);
margin-bottom: 25px;
}

.wrapper-21 .featured-story-left p {
font-size: var(--font-size-18);
font-weight: var(--font-weight-500);
line-height: 30px;
margin-bottom: 40px;
}

.wrapper-21 .featured-story-left a.btn:hover {
color: #000000;
}



.wrapper-21 .featured-story-right .image {
width: 600px;
height: 400px;
overflow: hidden;
border-radius: 20px;

}

.wrapper-21 .featured-story-right .image img {
object-fit: cover;
object-position: center;
border-radius: 20px;
width: 100%;
height: 100%;
}
.wrapper-22 .case-stories h1 {
  font-size: var(--font-size-60);
  font-family: var(--font-spring);
  color: var(--blue-color);
}

.wrapper-22 .case-stories .project-item ul {
display: flex;
justify-content: space-between;
gap: 10px;
}

.wrapper-22 {
padding: 50px 0;
}

.wrapper-22 .case-stories .project-item ul li {
padding: 15px 32px;
background: #005AAA;
border-radius: 5px;
color: #FFFFFF;
font-size: 16px;
font-weight: var(--font-weight-500);
letter-spacing: 0.8px;
cursor: pointer;
}
.wrapper-22 .case-stories .project-item ul li:hover {
  background: #F7CE19;
  color: #000000;
  transition: .3s;
}

.wrapper-22 .case-stories .project-item ul li:last-child {
background: #EBEBEB;
color: #000000;
}
.wrapper-22 .case-stories .project-item ul li:last-child select {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
}
.wrapper-22 .case-stories .project-item ul li:last-child select:focus {
  outline: none;
}

.wrapper-22 .case-stories .project-list {
padding-top: 50px;
}


.wrapper-22 .single-item {
  width: 434px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 1px solid #DDDDDD;
  
}

.wrapper-22 .single-item img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  object-position: top center;
  border-bottom: 10px solid #F7CE19;
}

.wrapper-22 .single-item .content {
  background: white;
  text-align: center;
  padding: 20px 32px;

}

.wrapper-22 .single-item .content h4 {
  color: var(--blue-color);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);
}

.wrapper-22 .single-item .content h2 {
  color: var(--blue-color);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-700);
  font-family: spring;
  color: #314454;
}

.wrapper-22 .single-item span {
  position: absolute;
  top: 20px;
  right: 26px;
  display: inline-block;
  padding: 8px 15px;
  background: #005AAA;
  border-radius: 5px;
  color: white;
}

a.hero-btn {
  padding: 13px 30px;
  font-size: 16px;
  font-weight: 500;
  color: #F7CE19;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 30px;
}
a.hero-btn:hover {
  background: #F7CE19;
  color: #000000;
  transition: .3s;
  border-color: #F7CE19;
}

.hero-btns {
  margin-bottom: 30px;
}

.individual-hero {
  padding-bottom: 70px;
  height: 550px;
}
.individual-hero .hero-content {
  justify-content: end;
}
.individual-hero .hero-content .heading {
  width: 1050px;
}

.individual-hero .hero-content h1 {
  font-size: 60px;
  font-family: var(--font-spring);
}

.wrapper-23 {
  padding-top: 80px;
}
.wrapper-23 .content {
  margin-top: 80px;
}
.wrapper-23 .content img {
  margin-bottom: -30px;
  margin-left: -75px;
}

.wrapper-23 .content h4 {
  font-size: 30px;
  font-family: var(--font-spring);
  line-height: 50px;
  font-style: italic;
}
.wrapper-23 p {
  font-size: 18px;
  font-weight: 300;
  margin: 30px 0;
  line-height: 35px;

}

.wrapper-23 .image {
  width: 100%;
  height: 560px;
  border-radius: 20px;
  overflow: hidden;
}

.wrapper-23 .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.related-stories {
  background-image: unset;
}
.related-stories::before {
  background-image: unset;
}
.related-stories h1 {
  color: #005AAA;
}

.related-stories .single-slider-item {
  border: 1px solid #ddd;
}

.related-stories .owl-nav button {
  background: #005AAA !important;
  color: white !important;
}

.contribute {
  padding: 100px 0;
}
.contribute h1 {
  font-size: var(--font-size-60);
  font-family: var(--font-spring);
  color: var(--blue-color);
  margin-bottom: 75px;
}
.contribute .content {
  width: 585px;
}
.contribute .content h4 {
  font-size: 32px;
  font-family: var(--font-spring);
  margin-bottom: 40px;
}
.contribute .content p {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 25px;
}

.contribute .image {
  width: 735px;
  height: 460px;
  border-radius: 20px;
  overflow: hidden;
}
.contribute .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.payment {
  margin-bottom: 140px;
}

.payment h1 {
  font-size: var(--font-size-60);
  font-family: var(--font-spring);
  color: var(--blue-color);
  margin-bottom: 75px;
}

.payment h5 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 25px;

}
.payment content p {
  font-size: 18px;
  font-weight: 500;

} 

.payment .paypal-transfer img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.payment .zelle-transfer img {
  width: 258px;
  height: 258px;
  object-fit: cover;
  margin-bottom: 35px;
}




.contact-section {
  padding: 100px 0;
}
.contact-section h1 {
  font-size: var(--font-size-60);
  font-family: var(--font-spring);
  color: var(--blue-color);
}
.contact-section .info-content {
  margin-left: 25px;
}

.contact-section .contact-info p {
  font-size: 18px;
  line-height: 28px;
  padding-right: 50px;
  margin-bottom: 60px;
  margin-top: 20px;
}

.contact-section .contact-info h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.contact-section .contact-info .info-content p {
  font-size: 16px;
  line-height: 24px;
  color: #5E5F63;
  margin: 0;

}
.contact-section .contact-info .social-icon {
  display: flex;
  gap: 10px;
}

.contact-section .contact-info .social-icon a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  line-height: 0;
  text-decoration: none;
  color: #696969;
  border: 1px solid #0206261A;
  font-size: 12px;
}
.contact-section .contact-info .social-icon a i {
  line-height: 0;
}

.contact-section .contact-info .social-icon a:hover {
  background-color: #005AAA;
  border-color: #005AAA;
  color: white;
  transition: .3s;
}

.contact-section .contact-form label {
  font-size: 16px;
}

.contact-section .contact-form input,
.contact-section .contact-form select {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  border-color: #0000002E;
  font-size: 14px;
  padding: 0 20px;
  border-radius: 5px;
}

.contact-section .contact-form input,
.contact-section .contact-form textarea,
.contact-section .contact-form select:focus {
  outline: none;
}

.contact-section .contact-form textarea{
  width: 100%;
  height: 130px;
  border-color: #0000002E;
  font-size: 14px;
  padding: 20px;
  border-radius: 5px;
}


.contact-section .contact-form .submit-btn {
  width: unset;
  padding: 15px 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 0;
  color: #ffffff;
  margin-top: 10px;
  background: var(--blue-color);
  border: none;
  border-radius: 5px;
  position: relative;
  
}
.contact-section .contact-form .submit-btn:hover {
  color: rgb(0, 0, 0);
  background: #F7CE19;
  transition: .3s;
}


.section-16 .office-address {
  background-color: #005AAA;
  padding-left: 50px;
  width: 45%;
  height: 400px;
 

}
.section-16 .google-maps {
 width: 55%;
 height: 400px;
}
.section-16 .google-maps iframe {
  width: 100%;
  height: 100%;
}

.section-16 .office-address h2 {
  color: #ffffff;
  font-size: var(--font-size-60);
  font-family: var(--font-spring);
  margin-bottom: 10px;
  line-height: 100%;
}

.section-16 .office-address p {
  font-size: 16px;
  color: #ffffff;
  
}

.section-16 .section-padding {
  padding-bottom: 130px;
}



.main-website-page {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/main-website-img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.main-website-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #000000d7;
  width: 100%;
  height: 100%;

}

.main-website-page .container {
  height: 100%;
}
.main-website-page .item {
  height: 100%;
  flex-direction: column;
}
.main-website-page .item img {
  width: 110px;
  margin-bottom: 30px;
}
.main-website-page .item .logo img {
  width: 250px;
  

}
.main-website-page .item h2 {
  font-size: 40PX;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  color: #F7CE19;
}

.main-website-copyright {
  position: absolute;
  width: 100vw;
  bottom: 0;
}
.main-website-page .btns {
  gap: 30px;
  display: flex;
} 
.main-website-page .btns .microfinance-btn {
  background: #F7CE19;
  color: #000000;
}
.main-website-page .btns .microfinance-btn:hover {
  color: white;
  background: var(--blue-color);
}


















  






